html {
    box-sizing: border-box;
    font-size: 62.5%;
    /**reset para REMS - 62.5% = 10px de 16px**/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 2;
}


/**Globales*-->que se reutiliza multiples veces*/

img {
    max-width: 100%;
    /**!!!!ESTO PONE LAS IMAGENES ADAPTABLES**/
    /**Esto hace que las imagenes se ajusten al contenedor**/
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    /*aca agrega margen tipo reloj (0)a las 12 (auto) a las 15*/
}


/**Aca defino las fuentes que vo a utilizar para cada h**/

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


/**Utilidades**/

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.d-bloc {
    /**Para botones amarillos**/
    display: block!important;
}

.contenido-centrado {
    max-width: 800px;
}


/**Botones**/

.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
}

.boton-amarillo {
    background-color: darkorange;
}

.boton-verde {
    background-color: green;
}


/** header**/

.site-header {
    /**esto solo aplica para la cabecera en cada pag (anuncio, nosotros, etc...)**/
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}


/**navegacion**/

.navegacion a {
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 20px;
}


/**Iconos "Mas Sobre Nosotros"**/

.iconos-nosotros {
    /** aplica a todos los iconos de "Mas Sobre Nosotros"**/
    /**Icono padre**/
    display: flex;
    justify-content: space-between;
}


/**Importante: calc()--->va sin espacio para que lo tome**/

.icono {
    /** este solo aplica al icono**/
    /**iconos hijos---->lo aplica a c/u de los "div"**/
    flex-basis: calc(33.3% - 1rem);
    /**aca el 100% es todo el espacio...a cada icono le aplica el calc. Como son 3 iconos queremos que midan iguales, sería el 33.3% de ese 100 y le resta 10 px**/
    text-align: center;
}

.icono h3 {
    text-transform: uppercase;
}


/**ANUNCIOS**/

.contenedor-anuncios {
    display: flex;
    justify-content: space-between;
    /**aca abajo se define para Anuncios**/
    flex-wrap: wrap;
}

.anuncio {
    /**aca son modificaciones para la página Anuncios**/
    flex: 0 0 calc(33.3% - 1rem);
    /**flex-grow: 0 (es el 1°);**/
    /**flex-shrink: 0 (es el 2°)**/
    margin-bottom: 2rem;
    /**de aca para abajo aplica para los anuncios en general**/
    /**flex-basis: calc(33.3% - 1rem) -->es el 3° en la propiedad flex**/
    border-style: solid;
    border-color: #b5b5b5;
    border-width: 1px;
    background-color: #f5f5f5;
}

.contenido-anuncio {
    padding: 1.5rem;
}

.contenido-anuncio h3 {
    margin: 0;
}

.contenido-anuncio p {
    margin: 0;
    justify-content: space-between;
    line-height: 2rem;
    /**interlineado**/
}

.precio {
    color: gold;
    font-weight: 700;
}

.iconos-caracteristicas {
    list-style: none;
    /**esto saca la viñeta**/
    padding: 0;
    /**saca el margen que agraga el ul**/
    display: flex;
    /**alinea los elementos hijos ("los li") uno al lado de otros**/
    justify-content: space-evenly;
    /**centra cada cosa**/
    /**y para que se separen los dibujitos**/
    flex: 1;
    /**limita todo a la utilización de 500 px**/
    max-width: 500px;
}

.iconos-caracteristicas li {
    /**flex: 1;
    /**esto ahce que cada li tome distancia proporcional del 100% de los pixeles**/
    display: flex;
    /**pone aca elemento del li uno al lado del otro**/
}

.iconos-caracteristicas li img {
    /**aplico un margen a la imagen solamente para que se separe del numero**/
    margin-right: 2rem;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}

.imagen-contacto {
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    /**ESTO HABILITA FLEX-BOX**/
    align-items: center;
}

.contenido-contacto {
    flex: 1;
    /** ESTO DE LOS 100% DE PIXELES QUE HAY LOS DIVIDE EN 1 PORQUE HAY UN ELEMENTO.**/
    color: #ffffff;
}

.contenido-contacto P {
    font-size: 1.8rem;
}


/**Sección inferiorior Blog**/

.seccion-inferior {
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog {
    /**aca el blog tomará el 60% del display**/
    flex-basis: 60%;
}

.seccion-inferior .testimoniales {
    /**el 40-2 lo toman las testimoniales (queda mas chico en la pantalla en comparacion con el blog)**/
    flex-basis: calc(40% - 2rem);
}

.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    /**aca separo los elementos de entrada-blog**/
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
    /**esto elimina el último espacio (franja naranja), del último elemento**/
}

.entrada-blog .imagen {
    /**aca aplica flexBox a imágenes**/
    flex-basis: 40%;
}

.entrada-blog .texto-entrada {
    /**aca aplica flexBox a textos**/
    flex-basis: calc(60% - 3rem);
}

.texto-entrada a {
    /**color para el titulo de cada texto de blog**/
    color: black;
    text-decoration: none;
    /**saca el subrayado del título**/
}

.texto-entrada h4 {
    /**margenes e interlineado**/
    margin: 0;
    line-height: 1.4;
}

.texto-entrada h4::after {
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: blueviolet;
    margin-top: 1rem;
}

.texto-entrada span {
    color: rgba(255, 187, 0, 0.966);
}


/**Testimoniales**/

.testimonial {
    background-color: rgb(108, 226, 108);
    font-size: 2.4rem;
    padding: 2rem;
    color: #ffffff;
    /**esquinas redondeadas del fondo verde**/
    border-radius: 2.5rem;
}


/**para alinear -Daniel Perez**/

.testimonial p {
    text-align: right;
}


/**para agregar las comillas**/

.testimonial blockquote::before {
    /**esto para que esté vacío, así despues inyectarle**/
    content: '';
    /**las comillas seran una imagen**/
    background-image: url(../img/comilla.svg);
    /**una vez seleccionada la imagen hay que decirle los tamaños**/
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
}

.testimonial blockquote {
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}


/**footer**/

.site-footer {
    background-color: #333333;
    margin: 0;
}

.contenedor-footer {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.copyright {
    margin: 0;
    color: #ffffff;
}


/**Páginas internas**/


/**Nosotros**/

.contenido-nosotros {
    /**utiliza display grid en vez de flex. Con 3 lineas de código se puede centrar el texto**/
    display: grid;
    /**define al layout en columnas 50 y 50. Porque hay 2 secciones hijo en la clase: imagen y texto**/
    grid-template-columns: repeat(2, 1fr);
    /**grid agrega gap en vez de margin**/
    grid-column-gap: 2rem;
}

.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    /**paddig: arriba derecha abajo izquierda**/
    padding: 1rem 0 3rem 0;
}


/**Anuncio**/

.resumen-propiedad {
    display: flex;
    /**alineación horizontal**/
    justify-content: space-between;
    /**alineacion vertical**/
    align-items: center;
}